extends ../layouts/common.pug
block content
  h4 List Users:
  ul(class="d-flex flex-column gap-2")
    each user in users
      li(class="d-flex align-items-center gap-3")
        span #{user.name} and #{user.age}
        a(href="/users/" + user.id, class="btn btn-outline-dark") View
